.pet-result-container {
    height: 100%;
    width: 100%;
    z-index: 1000;
    justify-content: center;
    background-color: whitesmoke;
    transition: all .2s ease-in-out;
}

.pet-result-container:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transform: scale(1.05);
}

.pet-result-inner-container {
    height: 95%;
    width: 95%;
}

.pet-result-image-container {
    height: 50%;
    width: 50%;
    justify-content: center;
}

.pet-result-image {
    height: 100%;
    width: 100%;
}

.pet-name-container {
    height: 40%;
    width: 100%;
    justify-content: center;
}

.pet-name {
    font-size: 2rem;
    color: #4d4751;
}

.pet-buttons-container {
    height: 30%;
    width: 100%;
    justify-content: space-evenly;
}

.pet-result-button-container {
    height: 100%;
    width: 30%;
}