.update-user-details-form-container {
    height: 100%;
    width: 100%;
    justify-content: center;
    background-color: white;
}

.update-user-details-form {
    height: 95%;
    width: 95%;
    gap: 1rem;
}

.email-phone-number-fields-wrapper {
    min-height: 62.5%;
    width: 100%;
}

.email-phone-number-fields-container {
    height: 100%;
    width: 60%;
    gap: 1.5rem;
}

.title-container {
    width: 100%;
}

.sign-up-fieldset {
    height: 3.5rem;
    width: 100%;
    outline: none;
    border: none;
    resize: none;
    color: #4d4751;
    border-radius: 6px;
    padding-left: 0.75rem;
    background-color: transparent;
    border: 1px solid #d2d1d3;
}

.sign-up-input {
    height: 100%;
    width: 100%;
    padding: 0.5rem;
    outline: none;
    border: none;
    resize: none;
    color: brown;
    border-radius: 5px;
    background-color: transparent;
}

.sign-up-fieldset:hover,
.personal-bio-textarea:hover {
    border: 1px solid brown;
    transition: 0.15s ease-in;
}

.sign-up-input:-webkit-autofill,
.sign-up-input:-webkit-autofill:hover,
.sign-up-input:-webkit-autofill:focus,
.sign-up-input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.personal-bio-container {
    height: 100%;
    flex: 1;
    gap: 2.2rem;
}

.personal-bio-textarea {
    height: 10rem;
    width: 80%;
    resize: none;
    outline: none;
    border: none;
    padding: 1rem;
    color: brown;
    border-radius: 6px;
    border: 1px solid #d2d1d3;
}

.update-contact-form-button-wrapper {
    height: 50px;
    width: 100%;
}

.user-details-form-conditional-messaging-container {
    width: 80%;
    justify-content: center;
}

@media (max-width: 391px) {
    .email-phone-number-fields-wrapper {
        padding-bottom: 1rem;
    }
}